<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="" />
<meta name="author" content="Jose Claudio" />
<meta name="viewport"
	content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>Bingo</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/normalize.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/jquery-ui.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/jquery-ui.structure.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/jquery-ui.theme.min.css}" />
</head>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/login-box.css}" />
</head>
<body>
	<div class="container">
	
		<div layout:fragment="header" th:include="templates/topo :: header"></div>
		<div sec:authorize="isAuthenticated()">
			<form method="post" th:action="@{/pontos/registrar}">
				<button type="submit" class="btn btn-success">Registrar</button>
			</form>
		</div>

		<div th:if="${not #lists.isEmpty(msgDanger)}">
			<div style="width: 80%;"
				class="alert alert-danger alert-dismissible center-block"
				role="alert">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span th:each="msg : ${msgDanger}">
					<p th:text="' - ' + ${msg}"></p>
				</span>
			</div>
		</div>
		<div sec:authorize="isAuthenticated()">
			<form method="get" th:action="@{/jogo}">
				<button type="submit" class="btn btn-success">Jogar</button>
			</form>
		</div>
		
		<div sec:authorize="isAuthenticated()">
			<form method="get" th:action="@{/configuracoes/configurar}">
				<button type="submit" class="btn btn-success">Configurar
					jogo</button>
			</form>
		</div>
		<div th:if="${msgSuccess != null}">
			<div style="width: 80%;"
				class="alert alert-success alert-dismissible center-block"
				role="alert">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close" onclick="add_margin_top()">
					<span aria-hidden="true">&times;</span>
				</button>
				<p th:text="${msgSuccess}"></p>
			</div>
		</div>

		<div id="content">
			<div layout:fragment="content">Fake content</div>
		</div>

		<!-- Fim corpo site -->
	</div>

	<script th:src="@{/resources/js/jquery.js}" type="text/javascript"></script>
	<script th:src="@{/resources/js/bootstrap.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/resources/js/jquery-ui.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/resources/js/sistema.js}"
		type="text/javascript"></script>
		
	<div layout:fragment="scripts"></div>
		
</body>
</html>